*
!*.*
!**/*.*
!/**/
!.*
!/*

nimcache/
**/*.bin
**/*.png
**/*.dot
**/*.tmp.*
**/*.tmp
**/*.html
**/*.css
**/*.o
**/*.out
**/*.txt.c
**/secret.*

/scripts/.circuit
/scripts/.latex
callgrind.out.*

!image.png
